{% extends "main.html" %}
{% load static %}

<title>
    {% block title %}
    Asking help
    {% endblock title %}
</title>


{% block content %}

<h1>This is the chatbot</h1>

  <!-- ======= Header ======= -->
  {% include 'header.html' %}
 <!-- End Header -->

  <section class="section">
    <div class="container py-4">
    <div class="row align-items-top">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card with header and footer</h5>           
              <div class="col-12 justify-content-center">
                  <div class="card">
                      <div class="row">
                          <p>Ut in ea error laudantium quas omnis officia. Sit sed praesentium voluptas. Corrupti inventore consequatur nisi necessitatibus modi consequuntur soluta id. Enim autem est esse natus assumenda. Non sunt dignissimos officiis expedita. Consequatur sint repellendus voluptas.
                              Quidem sit est nulla ullam. Suscipit debitis ullam iusto dolorem animi dolorem numquam. Enim fuga ipsum dolor nulla quia ut.
                              Rerum dolor voluptatem et deleniti libero totam numquam nobis distinctio. Sit sint aut. Consequatur rerum in.
                          </p> 
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  {% include 'footer.html' %}

{% endblock content %}