{% extends "base.html" %}
{% load static %}

<title>
    {% block title %}
        My Assistant
    {% endblock title %}
</title>

{% block content %}

  <!-- ======= Header ======= -->
  {% include 'header.html' %}
 <!-- End Header -->

<section class="section pt-5">
    <div class="container-fluid py-4">
        <div class="card-body py-4" style="background-color: rgb(112, 175, 154);">
          <div class="col-12 justify-content-center">
            <!-- cardbody -->
              <div class="row"> 
                Hello, hy
              </div>
              <!-- endof cardbody -->

              <div class="fixed-bottom pb-5">
                <div class="container py-4">
                    <div class="row p-5">
                        <div class="input_box">
                            <form class="#">
                                <div class="box">
                                    <input type="text" class="input" placeholder="Ask me something.....!" required>
                                <button class="button">
                                    <img src="{% static '/assets/img/send.png' %}" class="image">
                                </button>
                                </div>
                            </form>
                        </div>         
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

<!-- Add Font Awesome JS script if not already added -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  
  <!-- {% include 'footer.html' %} -->

{% endblock content %}
    