{% extends "main.html" %}
{% load static %}

<title>
    {% block title %}
    Forgot Password?
    {% endblock title %}
</title>

{% block content %}

<main>
  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-6 d-flex flex-column align-items-center justify-content-center">  
          <div class="card mb-2">
            <div class="card" style="background-image: url({% static 'assets/img/muk.jpg' %})";>
              
              <div class="icon">
                <a href="{% url 'accounts:login' %}"><i class="bx bx-arrow-back" style="font-size: 40px;"></i></a>
              </div>

                <div class="container">
                    <form class="row g-3 needs-validation" novalidate> 

                    <div class="col-12 pt-5">
                        <label for="yourEmail" class="form-label">Your Email</label>
                        <input type="email" style="background-color: rgb(211, 241, 147);" name="email" class="form-control" id="yourEmail" required>
                        <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>

                    <div class="col-12 pt-5 pb-5">
                        <button style="background-color: rgb(241, 245, 241); color: blue;" class="btn btn-primary w-100" type="submit">Verify your Email</button>
                    </div>
                    </form>
                </div>
              </div>
              <div class="card">
                <div class="col-12 pt-3">
                  <p style="text-align: center;"> <b>Check your email for verification</b></p>
                </div>
              </div>
          </div>  
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main -->
{% endblock content %}


