body{
	font-family: "Poppins", sans-serif;
}

.jumbotron{
	background-color: transparent;
	margin: 0;
	padding: 10px;
	padding-top: 80px;
}

.jumbotron h1{
	font-size: 2em;
	font-weight: bold;

}

.jumbotron h1{
	text-align: center;

}

.jumbotron p{
	font-size: 1em;
}

#googleMap{
	width: 80px;
	height: 400px;
	margin: 20px auto;
}

#output {
	text-align: center;
	font-size: 2em;
	margin: 20px auto;
}



.input_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
	width: 100%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
}

.box input{
	border: none;
	outline: none;
	border-radius: 16px 16px 19px;
	padding: 10px;
	font-size: 20px;
}

.box .button{
	background-color: #fff;
	border-radius: 500px;
	margin: 0px 8px;
	padding: 6px;
	pointer-events: none;
	opacity: 0;
	cursor: pointer;
	/* pointer-envents: none;
	opacity: 0; */

	cursor: pointer;
	border: none;
}

.box .image{
	width: 30px;
	height: 30px;
	display: block;
	margin: 5px 5px 3px 2px;
	border-radius:100%;
	/* pointer-envents: none; */
	/* opacity: 0; */

	transition: 0.3s;
}

/*==========================================================================  */

